.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shadows {
  0% { box-shadow: #8500cc 0 0 20px; }
  25% { box-shadow: #7e00c8 0 0 20px; }
  50% { box-shadow: #3a00e7 0 0 20px;}
  75% { box-shadow: #0000e3 0 0 20px; }
  100% { box-shadow: #8500cc 0 0 20px; }
}

::-webkit-scrollbar {
  width: 6px;
  height: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(176, 174, 174, 0.49);
  border: #0000e3;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: rgba(10, 0, 104, 0);
}

.body {
  height: 100vh;
  width: 100%;
  background-color: #dcdcdc;
  background-image: url('https://tiermaker.com/images/templates/wolvesville-role-ranking-15411501/154115011667149663.png');
  background-repeat: repeat ;
  background-blend-mode: overlay ;
}


.other-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  width: 100%;
  height: 98vh;
  margin-top: 10px;
  margin-right: 5px;
}


.body-chat {
  display: flex;
  justify-content: space-between;
  height: 100%;
}




.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.test {
  border-color: #3500ed;
  color:#3500ed  ;
}
.test:hover {
  background-color: #cb7cf1;
  color: white;
  box-shadow: #cb7cf1 0px 0px 30px;
  z-index: 0;
}

.banner {
  text-align: center;
  color: #000000;
  background-color: #c4c4c4;
  background-image: url("https://w7.pngwing.com/pngs/670/774/png-transparent-heart-computer-icons-symbol-small-sign-love-text-black.png");
  background-repeat: no-repeat;
    background-position: center;
  background-size: cover;
  border: 1px solid #fdf3fd;
  padding: 10px;
  /*animation: shadows 3s infinite;*/
  z-index: 2;

  cursor: pointer; /* add a pointer cursor to indicate clickable items */

}

.playername {
  position: center;
  margin-left: 10%;
  text-align: center;
  font-weight: bold;
  color: #000000;
  background-color: rgba(126, 126, 126, 0.37);
  border: 1px solid #4e4e4e;
  border-radius: 3px;
  height: 20%;
  width: 80%;

}


.maincolo {
  grid-column: 1 / -1; /* span all columns */
  margin: auto; /* center horizontally */
  text-align: center; /* center text */
  color: white; /* change text color */
  background-color: rgba(0, 0, 0, 0.56);
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.bannerCenter {
  display: flex;
  width: 20vw;
  height: 70vh;
  text-align: center;
  color: whitesmoke;
  justify-content: center;
  align-content: center;
  background-color: white;

  border-radius: 25px;
  border: 2px solid #fdf3fd;
  padding: 10px;
  animation: shadows 3s infinite;
  z-index: 1;

}

.chat-box {
  padding: 20px;
  border-radius: 0px;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 390px;
  flex-grow: 1;

}

.chat-box-header1 {
  text-align: center;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ededed;
  margin-top: -10px;
  height: 6%;
  width: 370px;
  border-radius: 3px;
  border: 2px solid rgba(176, 174, 174, 0.58);
  margin-left: -10px;

}

.chat-box-header2 {
  text-align: center;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ededed;
  height: 23%;
  width: 370px;
  border-radius: 3px;
  border: 2px solid rgba(176, 174, 174, 0.58);
  margin-left: -10px;

}

.chat-box-content {
  height: 70.74%;
  width: 100%;
}


.chat-history {
  list-style: none;
  padding: 0;
  margin-left: -10px;
  margin-top: -20px;
  height: 96% ;
  max-width: 370px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 370px;
  color: #2b2b2b;
  word-wrap: break-word;
  word-break: break-word;
  background-color: #ededed;

  border-radius: 3px;
  border: 2px solid rgba(176, 174, 174, 0.58);
}


.chat-history-item {
  padding: 1px;
  margin-bottom: 1px;
  border-radius: 10px;
}

.system-message {
  font-style: italic;
  color: #ba5f80;
}

.player-id {
  font-weight: bold;
  color: #000001;
}

.chat-form {
  display: flex;
  align-items: center;
  margin-top: 0px;
  position: relative;
  bottom: 0vh;
}

.chat-input {
  padding: 10px;
  margin-left: -10px;
  margin-bottom: 0px;
  outline: none;
  flex-grow: 1;
  width: 370px;
  background-color: #ffffff;
  color: #000000;
  position: absolute;

  border-radius: 3px;
  border: 2px solid rgba(176, 174, 174, 0.58);

}

.chat-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.menu-toggle {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  position: relative;
  margin-left: 30px;
  padding: 2px 4px;
  font-size: 16px;
  line-height: 1;
  border-radius: 4px;
  background-color: #eee;
  cursor: pointer;
  left: 180px;
  bottom: 70px;
}

.menu {
  position: absolute;
  top: 30px;
  right: -200px;
  width: 200px;
  padding: 10px;
  background-color: #5208b0;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu.active {
  transform: scale(1); /* Change the scale to 1 when the menu is active */
}

.menu form {
  display: flex;
  flex-direction: column;
}

.menu label {
  margin-bottom: 8px;
}

.menu input[type="text"] {
  margin-bottom: 8px;
  padding: 4px;
  border: none;
  border-radius: 4px;
  background-color: #370873;
  color: white;
}

.menu button[type="submit"] {
  padding: 4px 8px;
  background-color: #0d6dfb;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}





